.ldsEllipsis,
.ldsEllipsis div {
  box-sizing: border-box;
}

.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 30px; /* Use 100% to fit the parent container */
  height: 50px; /* Use 100% to fit the parent container */
  max-width: 80px; /* Optional: Set a maximum size */
  max-height: 80px; /* Optional: Set a maximum size */
}

.ldsEllipsis div {
  position: absolute;
  top: 33.33333%; /* Center vertically */
  width: 18%; /* Adjust width as a percentage */
  height: 20%; /* Adjust height as a percentage */
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
  left: 8%;
  animation: ldsEllipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
  left: 8%;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
  left: 32%;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
  left: 56%;
  animation: ldsEllipsis3 0.6s infinite;
}

@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
